[submodule "ActionBarSherlock"]
path = ActionBarSherlock
url = git@github.com:BrandroidTools/ActionBarSherlock.git
ignore = dirty
[submodule "SlidingMenu"]
path = SlidingMenu
url = git://github.com/BrandroidTools/SlidingMenu.git
ignore = dirty